.createGrid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: auto auto;
    height: auto;
    margin: auto;
}

@media screen and (max-width:400px)  {
    .createGrid{
        transform: none;
        width: auto;
        position: unset;
        top: unset;
        left: unset;
    }
}

.create {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
}


.info {
    justify-self: center;
    padding-top: 15px;
}

.error p{
    font-size: large;
}
.error {
    justify-self: center;
    margin: 10px;
    width: 300px;
    max-width: 100%;
}

.textbox, .radio, .submit{
    text-align: center;
    margin: 10px;
    width: 300px;
    max-width: 100%;
    justify-self: center;
}

#difficulty {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 30px;
}

#passon {
    display: grid;
    grid-template-columns: 1fr 1fr 30px;
}


#difficulty label span, #passon label span {
    width: 100%;
    float: left;
    text-align:center;
    padding:13px 0px;
}

#difficulty label input, #passon label input{
    display: none;
}

.question {
    background-image: url(../img/question.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 5px;
    position: relative;
    display: inline-block;
}


.tooltiptext {
    visibility: hidden;
    width: 250px;
    font-size: large;
    text-align: center;
    padding: 5px;

    position: absolute;
    z-index: 1;

    top: -5px;
    right: 105%;
}

.question:hover .tooltiptext {
    visibility: visible;
  }