.grid {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 30px 1fr;
    height: 500px;
}

.create {
    height: 100%;
    display: grid;
    grid-template-rows: 15px 1fr 1fr 1fr 1fr 1fr 1fr;
}


.info {
    justify-self: center;
}

.error p{
    font-size: large;
}
.error {
    justify-self: center;
}

.textbox, .radio, .submit{
    text-align: center;
    margin: 10px;
    width: 300px;
    justify-self: center;
}

#difficulty {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 30px;
}

#passon {
    display: grid;
    grid-template-columns: 1fr 1fr 30px;
}

#theme {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#difficulty label span, #passon label span , #theme label span {
    width: 100%;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    float: left;
    text-align:center;
    padding:13px 0px;
}

#difficulty label input, #passon label input, #theme label input  {
    display: none;
}

#difficulty input:checked + span, #passon input:checked + span, #theme input:checked + span{
    background-color:#404040;
    color:#F7F7F7;
}

.question {
    background-image: url(../img/question.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 5px;
    position: relative;
    display: inline-block;
}


.tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    font-size: large;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;

    top: -5px;
    right: 105%;
}

.question:hover .tooltiptext {
    visibility: visible;
  }

.t1 {
    background-image: url(/static/img/theme/t1.jpg);
}

.t2 {
    background-image: url(/static/img/theme/t2.jpg);
}

.t3 {
    background-image: url(/static/img/theme/t3.jpg);
}

.t4 {
    background-image: url(/static/img/theme/t4.jpg);
}