.grid{
    display: grid;
    width: 80%;
    grid-template-rows: auto auto auto auto auto;
    align-self: center;
    margin: auto;
    margin-top: 50px;
}

.title {
    font-size: 70px;
    width: inherit;
    justify-self: center;
    text-align: center;
}

@media screen and (max-width:500px)  {
    .title{
        font-size: 50px;
    }
}


@media screen and (max-width:300px)  {
    .title{
        font-size: 35px;
    }
}

.code {
    justify-self: center;
    text-align: center;
    width: inherit;
    word-wrap: break-word;
}

.error {
    justify-self: center;
}

.adminSettings{
    margin-top: 20px;
    display: grid;
    grid-template-rows: auto auto;
}

.normSettings {
    margin-top: 20px;
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
}

@media screen and (min-width:800px)  {
    .adminSettings {
        grid-template-rows: auto;
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width:580px)  {
    .normSettings {
        grid-template-rows: auto;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:400px)  {
    .normSettings *, .adminSettings *{
        font-size: large;
    }
}

@media screen and (max-width:310px)  {
    .normSettings *, .adminSettings *{
        font-size: medium;
    }
}

@media screen and (max-width:275px)  {
    .normSettings *, .adminSettings *{
        font-size: small;
    }
}

@media screen and (max-width:231px)  {
    .normSettings *, .adminSettings *{
        font-size: x-small;
    }
}


.radio{
    height: 50px;
    margin: 10px;
    text-align: center;
    justify-self: center;
    width: 86%;
}

#difficulty {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 30px;
}

#passon {
    display: grid;
    grid-template-columns: 1fr 1fr 30px;
}

#difficulty label span, #passon label span{
    width: 100%;
    float: left;
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#difficulty label input, #passon label input{
    display: none;
}

.question {
    background-image: url(../img/question.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 5px;
    position: relative;
    display: inline-block;
}


.tooltiptext {
    visibility: hidden;
    width: 250px;
    font-size: large;
    text-align: center;
    padding: 5px;

    position: absolute;
    z-index: 1;

    top: -5px;
    right: 105%;
}

@media screen and (max-width:350px)  {
    .tooltiptext{
        width: 200px;
    }
}

@media screen and (max-width:300px)  {
    .tooltiptext{
        width: 150px;
    }
}

.question:hover .tooltiptext {
    visibility: visible;
}

.secret {
    margin-top: 10px;
    width: initial;
    border-radius: 6px;
    height: 70px;
}

.word, .deathMessage{
    width: 100%;
    height: inherit;
    text-align: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    transition-duration: 0.3s;
    display: flex;
}

.word p, .deathMessage p{
    margin: auto;
    padding-left: 10px;
}

.secret:active:hover  .cover{
    width: 0;
    transition-duration: 0.3s;
    min-width: 10px;
    border-radius: 0;
}

.secret:active:hover  .cover p{
    transition-duration: 0.3s;
    font-size: 0;
}

.cover {
    width: 80%;
    height: inherit;
    position: absolute;
    z-index: 1;
    text-align: center;
    transition-duration: 0.3s;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    display: flex;
}

.cover p{
    margin: auto;
    transition-duration: 0.3s;
}

@media screen and (max-width:500px)  {
    .cover p, .deathMessage p, .word p{
        font-size: smaller;
    }
}

@media screen and (max-width:300px)  {
    .cover p, .deathMessage p, .word p{
        font-size: small;
    }
}

.footbar {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    z-index: 2;
}

.cancel{
    width: 100%;
    height: 100%;
    border-radius: 0;
    font-size: large;
}

.start{
    width: 100%;
    height: 100%;
    border-radius: 0;
    font-size: large;
}

.disabledStart{
    font-size: large;
}

.killedForm {
    grid-column: 1 / 3;
}

.killed {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.waiting {
    font-size: x-large;
    width: 100%;
    height: 100%;
    grid-column: 1 / 3;
    padding-top: 15px;
    text-align: center;
}

@media screen and (min-width:524px)  {
    .waiting {
        padding-top: 10px;
        font-size: xx-large;
    }

    .cancel, .start, .disabledStart{
        font-size: x-large;
    }
}

@media screen and (max-width:409px)  {
    .waiting{
        font-size: medium;
    }
}

.footpad {
    height: 100px;
}

.players{
    justify-self: center;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
}

@media screen and (max-width:500px)  {
    .players *{
        font-size: smaller;
    }
}


.players h4{
    text-align: center;
    margin-top: 10px;
}

.player{
    margin: 10px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 100px;
}

.name{
    margin: 5px;
    margin-bottom: 0;
}

.status{
    margin: 5px;
    margin-top: 0;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-style: italic;
}

.kick, .purge {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    height: fit-content;
    width: auto;
    justify-self: center;
    margin: auto;
}

.kick input, .purge input{
    height: 100%;
    width: 100%;
    padding: 3px;
}

.state {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    height: fit-content;
    width: 100%;
    justify-self: center;
    margin: auto;
    text-align: center;
    font-size: large;
}

@media screen and (max-width:500px)  {
    .player{
        grid-template-columns: auto 70px;
    }
    .state{
        font-size: medium;
    }
}
