
.grid{
    display: grid;
    width: 80%;
    grid-template-rows: auto auto auto auto auto;
    align-self: center;
    margin: auto;
    margin-top: 50px;
}

.title {
    font-size: 70px;
    justify-self: center;
    text-align: center;
}

.code {
    justify-self: center;
    text-align: center;
}

.error {
    justify-self: center;
}

.adminSettings{
    margin-top: 20px;
    display: grid;
    grid-template-rows: auto auto;
}

.normSettings {
    margin-top: 20px;
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
}

@media screen and (min-width:800px)  {
    .adminSettings {
        grid-template-rows: auto;
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width:580px)  {
    .normSettings {
        grid-template-rows: auto;
        grid-template-columns: auto auto;
    }
}

#difficulty {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 30px;
    margin: 10px;
}

#passon {
    display: grid;
    grid-template-columns: 1fr 1fr 30px;
    margin: 10px;
}

#difficulty label span, #passon label span{
    width: 100%;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    float: left;
    text-align:center;
    padding:13px 0px;
}

#difficulty label input, #passon label input{
    display: none;
}

#difficulty input:checked + span, #passon input:checked + span{
    background-color:#404040;
    color:#F7F7F7;
}

.question {
    background-image: url(../img/question.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 5px;
    position: relative;
    display: inline-block;
}


.tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    font-size: large;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;

    top: -5px;
    right: 105%;
}

.question:hover .tooltiptext {
    visibility: visible;
}

.secret {
    margin-top: 10px;
    width: 100%;
    height: 80px;
    border-radius: 6px;
}

.word, .deathMessage{
    height:  60px;
    width: 100%;
    border-radius: 9px;
    padding-top: 15px;
    text-align: center;
    border: black solid 1px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    transition-duration: 0.3s;
}

.secret:active:hover  .cover{
    width: 0;
    transition-duration: 0.3s;
    font-size: 0;
    min-width: 10px;
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.cover {
    height:  60px;
    width: 80%;
    min-width: 250px;
    position: absolute;
    z-index: 1;
    border-radius: 8px;
    border: black solid 1px;
    padding-top: 15px;
    text-align: center;
    transition-duration: 0.3s;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@media screen and (min-width:500px)  {
    .cover, .word, .deathMessage {
        height: 45px;
    }

    .secret{
        height: 60px;
    }
}

.footbar {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

.cancel{
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.start{
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.killedForm {
    grid-column: 1 / 3;
}

.killed {
    width: 100%;
    height: 100%;
}

.waiting {
    font-size: x-large;
    width: 100%;
    height: 100%;
    grid-column: 1 / 3;
    padding-top: 15px;
    text-align: center;
}

@media screen and (min-width:500px)  {
    .waiting {
        padding-top: 10px;
        font-size: xx-large;
    }
}

.footpad {
    height: 100px;
}

.players{
    justify-self: center;
    width: 100%;
    margin-top: 10px;
    border-radius: 7px;
    padding-top: 10px;
    border: black solid 1px;
}

@media screen and (min-width:600px)  {
    .players{
        width: 500px;
    }
}

.players h4{
    text-align: center;
}

.player{
    margin: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 100px;
    padding: 5px;
    border: black solid 1px;
}

.status{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-style: italic;
}

.kick, .purge {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    height: fit-content;
    width: 100%;
    justify-self: center;
    margin: auto;
}

.kick input, .purge input{
    padding: 5px;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 0;
    box-shadow: 3px 3px;
}

.kick:hover input, .purge:hover input{
    box-shadow: 1px 1px;
}

.state {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    height: fit-content;
    width: 100%;
    justify-self: center;
    margin: auto;
    text-align: center;
    font-size: large;
}
