.footbar {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

.cancel, .start {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.killed {
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
}

.waiting {
    background-color: red;
    font-size: xx-large;
    text-align: center;
    padding-top: 10px;
    grid-column: 1 / 3;
    width: 100%;
    height: 100%;
}