.back {
    width: 120px;
}

.footbar {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

.join, .create {
    width: 100%;
    border-radius: 0;
}

.grid1{
    display: grid;
    grid-template-rows: 60% 40%;
    height: 300px;
    width: 80%;
    align-self: center;
    margin: auto;
    margin-top: 50px;
}

.grid2 {
    display: grid;
    grid-template-columns: 100%;
    margin: 10px;
}

@media screen and (min-width:700px)  {
    .grid2 {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}