.back {
    width: 120px;
}

.backrules{
    width: 90px;
}

.footbar {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

.join, .create {
    width: 100%;
    border-radius: 0;
}

.homeGrid1{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    width: 80%;
    align-self: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
}

.user{
    justify-self: center;
    font-size: small;
    font-weight: bolder;
}

.welcome{
    margin: 10px;
}

.hello, .status{
    justify-self: center;
    font-size: xx-large;
    position: relative;
    display: inline-block;
    width: 100%;
}

.status input {
    font-style: italic;
    font-size: large;
    border: none;
    background: none;
    width: 100%;
    text-overflow: ellipsis;
}

@media screen and (min-width:450px)  {
    .status input {
        font-size: x-large;
    }
}

.hello input {
    width: 100%;
    font-size: xx-large;
    border: none;
    background: none;
    text-overflow: ellipsis;
}


.tooltiptext {
    visibility: hidden;
    width: 150px;
    font-size: large;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;

    width: 200px;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
}

input:focus + .tooltiptext {
    visibility: visible;
  }

.stats{
    margin: 10px;
}

.themeChange{
    font-size: medium;
    display: grid;
    grid-template-columns: auto 70px;
    margin: 10px;
}

.curTheme {
    margin-top: 8px;
    font-size: medium;
    text-align: center;
    width: fit-content;
    justify-self: right;
}

.themeChange form input{
    font-size: medium;
    padding: 3px;
}
/* TODO: make the theme change button look better on mobile */
.themeChange form {
    width: fit-content;
    justify-self: end;
    margin-top: auto;
    margin-bottom: auto;
}

.homeGrid2 {
    display: grid;
    grid-template-columns: 100%;
    width: 80%;
    margin: auto;
}

.active, .past{
    padding: 10px;
    height: fit-content;
}

.past{
    margin-top: 10px;
}

@media screen and (min-width:700px)  {
    .homeGrid2 {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-column-gap: 2%
    }

    .hello input {
        width: 60%;
    }

    .past{
        margin-top: 0px;
    }
}

.game {
    margin-top: 5px;
    padding: 5px;
}

.footpad {
    height: 80px;
}

.buttonpad {
    height: 5px;
}

.nametext {
    color: black;
    justify-self: center;
}

