.back {
    width: 120px;
}

.footbar {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

.join, .create {
    width: 100%;
    border-radius: 0;
}

.grid1{
    display: grid;
    grid-template-rows: auto auto auto;
    width: 80%;
    align-self: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    background-color:  #7CB35C;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}

.hello, .status{
    justify-self: center;
    font-size: xx-large;
    position: relative;
    display: inline-block;
    width: 100%;
}

.status input {
    font-style: italic;
    font-size: large;
    border: none;
    background: none;
    width: 100%;
}

@media screen and (min-width:450px)  {
    .status input {
        font-size: x-large;
    }
}

.hello input {
    width: 100%;
    font-size: xx-large;
    border: none;
    background: none;
}

.tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    font-size: large;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;

    width: 200px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; 
}

input:focus + .tooltiptext {
    visibility: visible;
  }

.grid2 {
    display: grid;
    grid-template-columns: 100%;
    width: 80%;
    margin: auto;
}

.active, .past{
    background-color:  #7CB35C;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    height: fit-content;
}

.past{
    margin-top: 10px;
}

@media screen and (min-width:700px)  {
    .grid2 {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-column-gap: 2%
    }

    .hello input {
        width: 60%;
    }

    .past{
        margin-top: 0px;
    }
}

.game {
    margin-top: 5px;
    margin-right: 3px ;
    padding: 5px;
    background-color: rgb(252, 224, 131);
    box-shadow: 3px 3px;
}

.game:hover {
    background-color: #ffd964;
    box-shadow: 1px 1px;
    margin-right: 2px;
    margin-left: 1px;
}

.footpad {
    height: 80px;
}

.buttonpad {
    height: 5px;
}

.nametext {
    color: black;
    justify-self: center;
}