.welcome {
    margin-top: 15px;
    height: 100px;
    background-image: url(../img/welcome.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.grid {
    display: grid;
    grid-template-rows: 120px 20px 200px 100px 100px;
}

form {
    height: 100%;
}

.grid2{
    height: 100%;
    display: grid;
    grid-template-rows: 33% 33% 33%;
}

.error{
    justify-self: center;
}

input{
    text-align: center;
    margin: 10px;
    width: 300px;
    justify-self: center;
}

.loginButton {
    width: 100px;
}

.signup, .rules{
    height: 100%;
    display: grid;
    grid-template-rows: 40% 60%;
}

.signup p , .rules p{
    font-size: large;
    margin-top: 20px;
    justify-self: center;
} 
.signup button, .rules button{
    font-size: large;
    margin: 10px;
    height: 30px;
    width: 150px;
    justify-self: center;
}