.welcome {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 120px;
    width: 100%;
    background-image: url(../img/welcome.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.indexGrid {
    display: grid;
    grid-template-rows: auto auto auto auto;
    width: 86%;
    max-width: 350px;
    margin: auto;
    padding-bottom: 5px;
}

.indexGrid2{
    height: 100%;
    display: grid;
    grid-template-rows: 33% 33% 33%;
}

.error{
    text-align: center;
    justify-self: center;
    width: 86%;
    margin-top: 10px;
}

input{
    height: 50px;
    margin: 10px;
    text-align: center;
    justify-self: center;
    width: 86%;
}


.signup, .rules{
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
}

.signup p , .rules p{
    text-align: center;
    justify-self: center;
    width: 86%;
    font-size: large;
    margin-top: 20px;
} 

.signup button, .rules button{
    font-size: large;
    margin: 10px;
    padding: 3px;
    padding-top: 5px;
    width: 86%;
    max-width: 170px;
    justify-self: center;
    text-align: center;
}

@media screen and (max-width:400px)  {
    .welcome{
        height: 80px;
    }

    input{
        font-size: large;
        height: 40px;
    }
}

.footpad{
    height: 100px;
}