* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

body {
    background-image: url(/static/img/backgrounds/pastel.jpg);
    /* background-color: #fab2a0;  */
    background-size: 80%;
}

.error p {
    color: red;
    font-size: smaller;
}

.textbox {
    border: 1px solid gray;
    border-radius: 5px;
}

.button {
    background-color: lightgrey;
    border: 1px solid gray;
    transition-duration: 0.2s;
    border-radius: 5px;
    text-align: center;
}

.back {
    position: fixed;
    right: 0;
    top: 0;
    width: 80px;
    height: 40px;
    border-radius: 0;
    border-bottom-left-radius: 5px;
}

.button:hover {
    background-color: blanchedalmond;
}


@media screen and (min-width:800px)  {
    body {
        background-size: 40%;
    }