* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

body {
    background-image: url(/static/img/backgrounds/pastelLight.jpg);
    /* background-color: #fab2a0;  */
    background-size: 30%;
}

.error p {
    color: red;
    font-size: smaller;
}

.textbox {
    border: 1px solid gray;
    border-radius: 5px;
}

.button {
    background-color: lightgrey;
    border: 1px solid rgb(246, 133, 218);
    transition-duration: 0.4s;
    border-radius: 5px;
}

.back {
    position: fixed;
    right: 0;
    top: 0;
    width: 70px;
    height: 35px;
    border-radius: 0;
    border-bottom-left-radius: 5px;
}

.button:hover {
    background-color: rgb(246, 133, 218);
    color: white;
}