.welcome {
    margin-top: 60px;
    height: 100px;
    background-image: url(../img/welcome.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.rules{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    background-color: #7CB35C;
    border-radius: 10px;
    padding: 20px;
    padding-top: 1px;
    border: black solid 1px;
}

h2{
    text-align: center;
    font-size: xx-large;
    margin-top: 15px;
}

h3 {
    margin-top: 10px;
}