.signupGrid {
    display: grid;
    grid-template-rows: auto auto;
    margin: auto;
    margin-top: 100px;
    width: 86%;
    max-width: 350px;
    padding-bottom: 5px;
}

.signup {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
}


.info {
    justify-self: center;
    text-align: center;
    width: 86%;
    margin-top: 10px;
}

.error {
    justify-self: center;
    text-align: center;
    width: 86%;
}

input{
    height: 50px;
    margin: 10px;
    text-align: center;
    justify-self: center;
    width: 86%;
}

@media screen and (max-width:400px)  {
    input{
        font-size: large;
        height: 40px;
    }
    
    .error{
        font-size: large;
    }
    
    .info{
        font-size: large;
    }
}