.grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 20px 1fr;
    height: 400px;
}

.signup {
    display: grid;
    grid-template-rows: 15% 17% 17% 17% 17% 17%;
}


.info {
    justify-self: center;
}

input, .signup p {
    text-align: center;
    margin: 10px;
    width: 300px;
    justify-self: center;
}