.players {
    background-color: #66944C;
}

.player {
    background-color: #7CB35C;
}

.dead {
    background-color: #66944C;
}

.purged {
    background-color: #66944C;
}

.notStarted {
    background-color: #66944C;
}

.word, .deathMessage{
    background-color: #C27815;
}

.cover {
    background-color: #D19D58;
}

.cancel{
    background-color: #D19D58;
}

.start{
    background-color: #66944C;
}

.cancel:hover {
    background-color: #C27815;
}

.start:hover {
    background-color: #557B3F;
}

.disabledStart{
    background-color: #7CB35C;
}

.killed {
    background-color: #D19D58;
}

.killed:hover {
    background-color: #C27815;
}

.waiting {
    background-color: #D19D58;
}

.kick input, .purge input{
    background-color: #D19D58;
}

.kick:hover input, .purge:hover input{
    background-color: #C27815;
}


/* PAST GAME COLORS: */

.winners{
    background-color: #7CB35C;
}

.overMssg {
    background-color: #C27815;
}

.killLog{
    background-color: #7CB35C;
}

.log{
    background-color: #D19D58;
}