.players {
    background-color: #7CB35C;
}

.player {
    background-color: #66944C;
}

.word, .deathMessage{
    background-color: #FF6464;
}

.cover {
    background-color: #FF7878;
}

.cancel{
    background-color: #FF7878;
}

.start{
    background-color: #66944C;
}

.cancel:hover {
    background-color: #FF6464;
}

.start:hover {
    background-color: #557B3F;
}

.disabledStart{
    background-color: #7CB35C;
}

.killed {
    background-color: #FF7878;
}

.killed:hover {
    background-color: #FF6464;
}

.waiting {
    background-color: #FF7878;
}

.kick input, .purge input{
    background-color: #FF7878;
}

.kick:hover input, .purge:hover input{
    background-color: #FF6464;
}
/* TODO: put all color settings in this file */