:root {
    --dark3: #252729;
    --dark2: #2d3031;
    --dark1: #313436;
    --light1: #cccccc;
    --error: red;
    --border: black;
    --gamename: rgb(30, 160, 235);
    --selected: orange;
}

/* MAIN CSS */
body {
    background-image: none;
    background-color: var(--dark3);
}

*{
    color: var(--light1);
}

.error p {
    color: var(--error);
}

.textbox{
    border: 1px solid var(--border);
    background-color: var(--dark2);
}

.button {
    background-color: var(--dark2);
    border: 1px solid var(--border);
}

.button:hover {
    background-color: var(--dark3);
}

.back {
    border-bottom-left-radius: 5px;
}

.tooltiptext{
    background-color: rgb(175, 175, 175);
    color: black;
    border-radius: 6px;
    border: black solid 1px;
}

/* INDEX CSS */

.indexGrid {
    background-color: var(--dark1);
    border: var(--border) solid 1px;
    border-radius: 5px;
}

/* SIGNUP CSS */

.signupGrid{
    background-color: var(--dark1);
    border-radius: 5px;
}

/* RULES CSS */

.rulesPage{
    background-color: var(--dark1);
    border-radius: 5px;
    border: var(--border) solid 1px;
}

/* HOME CSS */

.homeGrid1{
    background-color:  var(--dark1);
    border: 1px solid var(--border);
    border-radius: 5px;
}

.active, .past{
    background-color:  var(--dark1);
    border: 1px solid var(--border);
    border-radius: 5px;
}

.game {
    /* nothing here */
}

.game:hover{
    /* nothing here */
}

.create{
    border-left-width: 0;
}

.nametext{
    color: var(--gamename);
}

/* CREATE CSS */
.createGrid{
    background-color: var(--dark1);
    border-radius: 5px;
}

/* CREATE AND GAME CSS */

#difficulty label span, #passon label span {
    background-color:var(--dark2);
    border-radius: 0;
    border:1px solid var(--border);
}

#difficulty input:checked + span, #passon input:checked + span{
    background-color: var(--dark3);
    color: var(--selected);
}

/* JOIN CSS */

.joinGrid{
    background-color: var(--dark1);
    border-radius: 5px;
}

/* GAME CSS */

.title, .code{
    color: var(--gamename);
}

.players {
    background-color: var(--dark1);
    border: var(--border) solid 1px;
    border-radius: 5px;
}

.player {
    background-color: var(--dark1);
    border: var(--border) solid 1px;
    border-radius: 5px;
}

.dead {
    background-color: var(--dark1);
}

.purged {
    background-color: var(--dark1);
}

.notStarted {
    background-color: var(--dark1);
}

.dead, .purged *{
    color: red;
}

.word, .deathMessage{
    background-color: var(--dark1);
    border: var(--border) solid 1px;
    border-radius: 6px;
}

.cover {
    background-color: var(--dark2);
    border-radius: 5px;
    border: var(--border) solid 1px;
}

.secret:active:hover  .cover{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.cancel{
    border-left: 0;
}

.start{
     /* nothing here */
}

.cancel:hover {
     /* nothing here */
}

.start:hover {
    /* nothing here */
}

.disabledStart{
    color: red;
    background-color: var(--dark1);
    border: 1px solid var(--border);
}

.killed {
    background-color: var(--dark2);
}

.killed:hover {
    background-color: var(--dark3);
}

.waiting {
    background-color: var(--dark1);
}

.kick input, .purge input{
    background-color: var(--dark2);
    border-radius: 5px;
    border: black solid 1px;
    /* box-shadow: 2px 3px; */
}

.kick:hover input, .purge:hover input{
    background-color: var(--dark3);
    /* box-shadow: 1px 1px; */
}


/* PAST GAME CSS: */

.winners{
    background-color: var(--dark1);
}

.dplayer{
    background-color: var(--dark1);
}

.overMssg {
    background-color: var(--dark1);
    color: var(--selected);
}

.killLog{
    background-color: var(--dark1);
}

.log{
    background-color: var(--dark1);
}
