
:root {
    --color1: #ffba43;
    --color2: #ffd080;
    --color3: #FFD6DA;
    --text1: black
    --error: red;
    --deadred: rgb(136, 0, 0);
    --border: black;
    --gamename: black;
    --selected: black;
}

/* MAIN CSS */
body {
    background-image: url(/static/img/theme/t4.jpg);
    background-size: 40%;
    background-attachment: unset;
    background-repeat: unset;
}

*{
    color: var(--text1);
}

.error p {
    color: var(--error);
}

.textbox{
    border: 1px solid var(--border);
    background-color: var(--color2);
}

.button {
    background-color: var(--color2);
    border: 1px solid var(--border);
}

.button:hover {
    background-color: var(--color1);
}

.back {
    border-bottom-left-radius: 5px;
}

.backrules {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
}

.tooltiptext{
    background-color: rgb(175, 175, 175);
    color: black;
    border-radius: 6px;
    border: black solid 1px;
}

/* INDEX CSS */

.indexGrid {
    background-color: var(--color3);
    border: var(--border) solid 1px;
    border-radius: 5px;
}

/* SIGNUP CSS */

.signupGrid{
    background-color: var(--color3);
    border-radius: 5px;
}

/* RULES CSS */

.rulesPage{
    background-color: var(--color3);
    border-radius: 5px;
    border: var(--border) solid 1px;
}

/* HOME CSS */

.homeGrid1{
    background-color:  var(--color3);
    border: 1px solid var(--border);
    border-radius: 5px;
}

.active, .past{
    background-color:  var(--color3);
    border: 1px solid var(--border);
    border-radius: 5px;
}

.game {
    /* nothing here */
}

.game:hover{
    /* nothing here */
}

.create{
    border-left-width: 0;
}

.nametext{
    color: var(--gamename);
}

/* CREATE CSS */
.createGrid{
    background-color: var(--color3);
    border-radius: 5px;
}

/* CREATE AND GAME CSS */

#difficulty label span, #passon label span {
    background-color:var(--color2);
    border-radius: 0;
    border:1px solid var(--border);
}

#difficulty input:checked + span, #passon input:checked + span{
    background-color: var(--color1);
    color: var(--selected);
}

/* JOIN CSS */

.joinGrid{
    background-color: var(--color3);
    border-radius: 5px;
}

/* GAME CSS */

.title, .code{
    color: var(--gamename);
}

.players {
    background-color: var(--color3);
    border: var(--border) solid 1px;
    border-radius: 5px;
}

.player {
    background-color: var(--color3);
    border: var(--border) solid 1px;
    border-radius: 5px;
}

.dead {
    background-color: var(--color3);
}

.purged {
    background-color: var(--color3);
}

.notStarted {
    background-color: var(--color2);
}

.dead *, .purged *{
    color: var(--deadred);
}

.word, .deathMessage{
    background-color: var(--color3);
    border: var(--border) solid 1px;
    border-radius: 6px;
}

.cover {
    background-color: var(--color2);
    border-radius: 5px;
    border: var(--border) solid 1px;
}

.secret:active:hover  .cover{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.cancel{
    border-left: 0;
}

.start{
     /* nothing here */
}

.cancel:hover {
     /* nothing here */
}

.start:hover {
    /* nothing here */
}

.disabledStart{
    color: black;
    background-color: var(--color3);
    border: 1px solid var(--border);
}

.killed {
    background-color: var(--color2);
}

.killed:hover {
    background-color: var(--color1);
}

.waiting {
    background-color: var(--color3);
}

.kick input, .purge input{
    background-color: var(--color2);
    border-radius: 5px;
    border: black solid 1px;
    /* box-shadow: 2px 3px; */
}

.kick:hover input, .purge:hover input{
    background-color: var(--color1);
    /* box-shadow: 1px 1px; */
}


/* PAST GAME CSS: */

.winners{
    background-color: var(--color3);
    border: 1px solid var(--border);
}

.dplayer{
    background-color: var(--color1);
    border: 1px solid var(--border);
}

.overMssg {
    background-color: var(--color3);
    color: var(--selected);
}

.killLog{
    background-color: var(--color3);
    border: 1px solid var(--border);
}

.log{
    background-color: var(--color3);
    border: 1px solid var(--border);
}