/* TODO: put all color settings in this file */
body {
    background-image: url(/static/img/theme/t4.jpg);
    background-size: 40%;
    background-attachment: unset;
    background-repeat: unset;
}

.back {
    background-color: lightgray;
}

.back:hover{
    background-color: gray;
}

.players {
    background-color: rgb(255, 204, 211);
}

.player {
    background-color: lightgray;
}

.dead {
    background-color: indianred;
}

.purged {
    background-color: indianred;
}

.notStarted {
    background-color: lightgray;
}

.word, .deathMessage{
    background-color: rgb(245, 100, 100);
}

.cover {
    background-color: rgb(255, 204, 211);
}

.cancel{
    background-color: rgb(245, 100, 100);
}

.start{
    background-color: #66944C;
}

.cancel:hover {
    background-color: indianred;
}

.start:hover {
    background-color: #557B3F;
}

.disabledStart{
    background-color: #7CB35C;
}

.killed {
    background-color: rgb(245, 100, 100);
}

.killed:hover {
    background-color: indianred;
}

.waiting {
    background-color: rgb(245, 100, 100);
}

.kick input, .purge input{
    background-color: rgb(245, 100, 100);
}

.kick:hover input, .purge:hover input{
    background-color: indianred;
}


/* PAST GAME COLORS: */

.winners{
    background-color: rgb(255, 204, 211);
}

.overMssg {
    background-color: rgb(245, 100, 100);
}

.killLog{
    background-color: rgb(255, 204, 211);
}

.log{
    background-color: rgb(245, 100, 100);
}


