<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Say Pineapple – Create</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
</head>
<body>
    <button class="back button" onclick="window.location.href='{{ url_for('home')}}';">Back</button>



    <div class="grid">
        <p class="info">Please Enter Game Info</p>
        <form class="create" action="/_create" method="POST">
            <div class="error">
                {% if  error %}
                    <p style="color: red;">Error: {{error}}</p>
                {% endif  %}
            </div>
            <input class="textbox" type = "text" name = "name" placeholder="Enter a game name" value="{{name}}"/>
            <input class="textbox" type = "text" name = "code" placeholder="Enter a game code" value="{{code}}"/>
            
            <div class="radio" id="difficulty">
                <label><input type="radio" id="easy" name="difficulty" value="easy" checked="checked"><span>Easy</span></label>
                <label><input type="radio" id="medium" name="difficulty" value="medium"><span>Medium</span></label>
                <label><input type="radio" id="hard" name="difficulty" value="hard"><span>Hard</span></label>
                <div class="question">? </div>
            </div>
            
            <div class="radio" id="passon">
                <label><input type="radio" id="pass" name="passon" value="pass" checked="checked"><span>Pass On</span></label>
                <label><input type="radio" id="shuffle" name="passon" value="shuffle"><span>Shuffle</span></label>
                <div>?</div>
            </div>

            <div class="radio" id="theme">
                <label><input type="radio" id="t1" name="theme" value="t1"><span>A</span></label>
                <label><input type="radio" id="t2" name="theme" value="t2"><span>B</span></label>
                <label><input type="radio" id="t3" name="theme" value="t3"><span>C</span></label>
                <label><input type="radio" id="t4" name="theme" value="t4"><span>D</span></label>
            </div>

            <input class="button submit" type = "submit" value = "Create" />
        </form>
    </div>
</body>
</html>