<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Say Pineapple – Create</title>
</head>
<body>
    <div class="back">
        <form action="/home" >
            <input type="submit" value="Back">
        </form>
    </div>

    <div class="error">
        {% if  error %}
            <p style="color: red;">Error: {{error}}</p>
        {% endif  %}
    </div>

    <div class="container">
        <form action="/_create" method="POST">
            <input type = "text" name = "name" placeholder="Enter a game name" value="{{name}}"/>
            <br>
            <input type = "text" name = "code" placeholder="Enter a game code" value="{{code}}"/>
            <br>
            <input type="radio" id="debug" name="difficulty" value="debug">
            <label for="debug">Debug</label>
            <input type="radio" id="easy" name="difficulty" value="easy" checked="checked">
            <label for="easy">Easy</label>
            <input type="radio" id="medium" name="difficulty" value="medium">
            <label for="medium">Medium</label>
            <input type="radio" id="hard" name="difficulty" value="hard">
            <label for="hard">Hard</label>
            <br>
            <input type="radio" id="pass" name="passon" value="pass" checked="checked">
            <label for="pass">On death, pass word on to assassin.</label>
            <input type="radio" id="shuffle" name="passon" value="shuffle">
            <label for="shuffle">give assassin new random word.</label>
            <br>
            <input type = "submit" value = "Create" />
        </form>
    </div>
</body>
</html>