<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Say Pineapple – Debug</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/debug.css') }}">
</head>
<body>
    <h4>
        Bugs to fix:
    </h4>
    <ul>
        <li>
            check that username is alphanumeric
        </li>
        <li>
            create game akward error spacing on mobile
        </li>
        <li>
            mission cover glitches at near-mobile dimentions
        </li>
        <li>
            theme overlaps with change theme on mobile
        </li>
        <li>
            consolas font not there on mobile
        </li>
    </ul>

    <h2>Players:</h2>
    <table border=5>  
        <thead>  
        <td>ID</td>  
        <td>Username</td>  
        <td>Password</td>
        <td>Name</td> 
        <td>Games</td>
        <td>Theme</td>
        <td>Stats</td>
        <td>Status</td>
        </thead>  
        {% for row in playerRows %}  
        <tr>  
        <td>{{row["id"]}}</td>  
        <td>{{row["user"]}}</td>
        <td>{{row["password"][:10]}}</td>
        <td>{{row["name"]}}</td>  
        <td>{{row["games"]}}</td>  
        <td>{{row["theme"]}}</td>  
        <td>{{row["stats"]}}</td>  
        <td>{{row["status"]}}</td>  
        </tr>  
        {% endfor %}   
        </table> 
        <h2>Games:</h2>
        <table border=5>  
            <thead>  
            <td>ID</td>  
            <td>Code</td>  
            <td>Name</td> 
            <td>Settings</td>
            <td>Host</td>
            <td>Started</td>
            <td>Players</td>
            <td>Alive</td>
            <td>Purged</td>
            <td>Targets</td>
            <td>Kill Count</td>
            <td>Kill Log</td>
            </thead>  
            {% for row in gameRows %}  
            <tr>  
            <td>{{row["id"]}}</td>  
            <td>{{row["code"]}}</td>
            <td>{{row["name"]}}</td>  
            <td>{{row["settings"]}}</td>
            <td>{{row["host"]}}</td>  
            <td>{{row["started"]}}</td>  
            <td>{{row["players"]}}</td>  
            <td>{{row["alive"]}}</td>  
            <td>{{row["purged"]}}</td>  
            <td>{{row["targets"]}}</td>  
            <td>{{row["killCount"]}}</td>  
            <td>{{row["killLog"]}}</td>
            </tr>  
            {% endfor %}   
            </table> 
            <h2>Past Games:</h2>
            <table border=5>  
                <thead>  
                <td>ID</td>  
                <td>Code</td>  
                <td>Name</td> 
                <td>Settings</td>
                <td>Host</td>
                <td>Players</td>
                <td>Survival Winner</td>
                <td>Kill Winners</td>
                <td>Kill Log</td>
                </thead>  
                {% for row in  pastRows %}  
                <tr>  
                <td>{{row["id"]}}</td>  
                <td>{{row["code"]}}</td>
                <td>{{row["name"]}}</td>  
                <td>{{row['settings']}}</td>
                <td>{{row["host"]}}</td>  
                <td>{{row["players"]}}</td>  
                <td>{{row["survivalWinner"]}}</td> 
                <td>{{row["killWinners"]}}</td>
                <td>{{row["killLog"]}}</td>
                </tr>  
                {% endfor %}   
                </table> 
</body>
</html>