<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data['title']}} | Don't Say Pineapple</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes/t'+data['theme']+'.css') }}">
</head>
<body>
    <button class="back button" onclick="window.location.href='{{url_for('home')}}'">Back</button>

    <div class="grid">
        <div class="title">
            {{data['title']}}
        </div>    

        <div class="code">
            ({{data['code']}})
        </div>

        <div class="error">
            {% if  error %}
            <p>Error: {{error}}</p>
            {% endif  %}
        </div>

        <div class="settings">
            {% if data['admin'] and not data['started'] %}
                <form class="adminSettings" action="/_change_settings/{{data['code']}}" method="POST">
                    <div class="radio" id="difficulty">
                        <label><input type="radio" id="easy" name="difficulty" value="easy" {% if data['settings']['difficulty'] == "easy" %} checked="checked" {% endif %}  onchange="this.form.submit()"><span>Easy</span></label>
                        <label><input type="radio" id="medium" name="difficulty" value="medium" {% if data['settings']['difficulty'] == "medium" %} checked="checked" {% endif %} onchange="this.form.submit()"><span>Normal</span></label>
                        <label><input type="radio" id="hard" name="difficulty" value="hard" {% if data['settings']['difficulty'] == "hard" %} checked="checked" {% endif %} onchange="this.form.submit()"><span>Hard</span></label>
                        <div class="question">
                            <span class="tooltiptext">
                                This is the word difficulty. The harder the words, the harder it is to kill your target.
                            </span>
                        </div>
                    </div>

                    <div class="radio" id="passon">
                        <label><input type="radio" id="pass" name="passon" value="pass" {% if data['settings']['passon'] == "pass" %} checked="checked" {% endif %} onchange="this.form.submit()"><span>Pass On</span></label>
                        <label><input type="radio" id="shuffle" name="passon" value="shuffle" {% if data['settings']['passon'] == "shuffle" %} checked="checked" {% endif %} onchange="this.form.submit()"><span>Shuffle</span></label>
                        <div class="question">
                            <span class="tooltiptext">
                                This determines how words are passed on after a kill. If 'Pass On' is selected, the killer gets the victims word. 
                                If 'Shuffle' is selected, the killer gets a new word.
                            </span>
                        </div>
                    </div>
                </form>
            {% else %}
                <div class="normSettings">
                    <div>Word Difficulty: {{data['settings']['difficulty']}}</div>
                    <div>Word Pass-on: {{data['settings']['passon']}}</div>
                </div>
            {% endif %}
        </div>

        <!-- TODO make this block -->
        {% if data['started'] %}
            <div class="secret">
                {% if data['user'] in data['alive'] %}
                    <div class="cover">
                        <p>
                            Press here to see your mission
                        </p>
                    </div>
                    <div class = "word" unselectable="on">
                        <p>
                            Kill {{data['target']}} with '{{data['word']}}'!
                        </p>
                    </div>
                {% else %}
                    <div class="cover">
                        <p>
                            You are dead. Press to see info.
                        </p>
                    </div>
                    <div class = "deathMessage" unselectable="on">
                        <p>
                            {% if data['user'] in data['purged'] %}
                                you were purged for {{data['target']}} by host.
                            {% else %}
                                {{data['target']}} killed you with '{{data['word']}}'.
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <div class = "players" unselectable="on">
            <h4 unselectable="on">Players:</h4>   
            {% for player in data['players'] %}
                <div class="player 
                {% if player['user'] in data['purged'] %}
                    purged
                {% elif player['user'] not in data['alive'] and data['started'] %}
                    dead
                {% elif not data['started'] %}
                    notStarted
                {% endif %}
                "
                >
                    <p class="name">{{player['name']}}  ({{player['user']}})</p>
                    <p class="status">
                        {% if player['status']%}
                            {{player['status']}}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </p>
                    {% if data['admin'] %}
                        {% if not data['started'] and player['user'] != data['host']%}
                            <script>
                                function kick(player){
                                    if (confirm('Are you sure you want to kick ' + player['user'] +'?')) {
                                        document.getElementById("kickform:"+player['user']).submit();
                                    }
                                }
                            </script>
                            <form class="kick" action="/_kick/{{data['code']}}/{{player['user']}}" id="kickform:{{player['user']}}" method="post">
                                <input class="button" onclick="kick({{player}});" type="button" value="kick">
                            </form>
                        {% elif player['user'] in data['alive'] %}
                            <script>
                                function purge(player){
                                    if (confirm('Are you sure you want to purge ' + player['user'] +'?')) {
                                        document.getElementById("purgeform:"+player['user']).submit();
                                    }
                                }
                            </script>
                            <form class="purge" action="/_purge/{{data['code']}}/{{player['user']}}" id="purgeform:{{player['user']}}" method="post">
                                <input class="button"onclick="purge({{player}});" type="button" value="purge">
                            </form>
                        {% endif %}
                    {% else %}
                        {% if player['user'] == data['host'] and (player['user'] in data['alive'] or not data['started'])%}
                            <div class="state">(host)</div>
                        {% elif player['user'] in data['alive'] %}
                            <div class="state">(alive)</div>
                        {% endif %}
                    {% endif %}
                    {% if player['user'] in data['purged'] %}
                        <div class="state">(purged)</div>
                    {% elif player['user'] not in data['alive'] and data['started'] %}
                        <div class="state">(dead)</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>


    

    



   
    {% if not data['started'] %}
        <div class = "footbar">
            {% if data['admin'] %}
                {% if data['numberOfPlayers'] > 1 %}
                    <form action="/_start/{{data['code']}}" method="post">
                        <input class="start button" type="submit" value="Start Game">
                    </form>
                {% else %}
                    <button disabled class="disabledStart" type="button" >Need 2 players to Start Game</button>
                {% endif %}
                <script>
                    function cancel(){
                        if (confirm('Are you sure you want to cancel this game?')) {
                            document.getElementById("cancelform").submit();
                        }
                    }
                </script>
                <form action="/_cancel/{{data['code']}}" id="cancelform" method="post">
                    <input class="cancel button"onclick="cancel();" type="button" value="Cancel Game">
                </form>
            {% else %}
                <div class="waiting"> 
                    Waiting for host to start game
                </div>
            {% endif %}
        </div>
    {% else %}
        {% if data['isAlive'] %}
            <div class="footbar">
                <script>
                    function killed(){
                        if (confirm('Are you sure you want to report yourself killed?')) {
                            document.getElementById("killedform").submit();
                        }
                    }
                </script>
                <form class="killedForm" action="/_killed/{{data['code']}}" method="post"  id="killedform">
                    <input class="killed button" onclick="killed();" type="button" value="Report Yourself Killed">
                </form>
            </div>
        {% endif %}
    {% endif %}
    
    <div class="footpad"></div>

</body>
</html>
