<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Say Pineapple – {{data['user']}}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
</head>
<body>
    <button class="back button" onclick="window.location.href='{{ url_for( 'home')}}';">Back</button>

    <div class="grid">
        <div class="title">
            {{data['title']}}
        </div>    

        <div class="code">
            ({{data['code']}})
        </div>

        <div class="error">
            {% if  error %}
            <p>Error: {{error}}</p>
            {% endif  %}
        </div>

        <div class="info">
            {% if data['admin'] and not data['sarted'] %}
                <form action="/_change_settings/{{data['code']}}" method="POST">
                    <input type="radio" id="debug" name="difficulty" value="debug" {% if data['settings']['difficulty'] == "debug" %} checked="checked" {% endif %}>
                    <label for="debug">Debug</label>
                    <input type="radio" id="easy" name="difficulty" value="easy" {% if data['settings']['difficulty'] == "easy" %} checked="checked" {% endif %}>
                    <label for="easy">Easy</label>
                    <input type="radio" id="medium" name="difficulty" value="medium" {% if data['settings']['difficulty'] == "medium" %} checked="checked" {% endif %}>
                    <label for="medium">Medium</label>
                    <input type="radio" id="hard" name="difficulty" value="hard" {% if data['settings']['difficulty'] == "hard" %} checked="checked" {% endif %}>
                    <label for="hard">Hard</label>
                    <br>
                    <input type="radio" id="pass" name="passon" value="pass" {% if data['settings']['passon'] == "pass" %} checked="checked" {% endif %}>
                    <label for="pass">On death, pass word on to assassin.</label>
                    <input type="radio" id="shuffle" name="passon" value="shuffle" {% if data['settings']['passon'] == "shuffle" %} checked="checked" {% endif %}>
                    <label for="shuffle">give assassin new random word.</label>
                    <br>
                    <input type = "submit" value="change">
                </form>
            {% else %}
                <p>{{data['settings']}}</p>
            {% endif %}

            <!-- TODO make this block -->
            <div class = "waiting">
                {% if data['user'] in data['purged'] %}
                    you were purged for {{data['target']}} by host.
                {% else %}
                    {{data['target']}} killed you with '{{data['word']}}'.
                {% endif %}
            </div>
            <div class = "word">
                <p>Your word is: {{data['word']}}</p>
                <p>Your target is: {{data['target']}}</p>
            </div>
        </div>



        <div class = "players">
            <h4>Players:</h4>   
            {% for player in data['players'] %}
                <p  
                {% if player in data['purged'] %}
                    style="color:indianred"
                {% elif player not in data['alive'] %}
                    style="color: grey"
                {% endif %}
                >{{player}}</p>
                {% if data['admin'] and player != data['host'] %}
                    {% if not data['started'] %}
                        <form action="/_kick/{{data['code']}}/{{player}}" method="post">
                            <input type="submit" value="kick">
                        </form>
                    {% elif player in data['alive'] %}
                        <form action="/_purge/{{data['code']}}/{{player}}" method="post">
                            <input type="submit" value="purge">
                        </form>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>


    

    



   
    {% if not data['started'] %}
        <div class = "footbar">
            {% if data['admin'] %}
                {% if data['numberOfPlayers'] > 1 %}
                    <form action="/_start/{{data['code']}}" method="post">
                        <input class="start button" type="submit" value="Start Game">
                    </form>
                {% else %}
                    <button disabled class="start disabledStart" type="button" >Need 2 players to Start Game</button>
                {% endif %}
                <form action="/_cancel/{{data['code']}}" method="post">
                    <input class="cancel button" type="submit" value="Cancel Game">
                </form>
            {% else %}
                <div class="waiting"> 
                    Waiting for host to start game
                </div>
            {% endif %}
        </div>
    {% else %}
        {% if data['isAlive'] %}
            <div class="footbar">
                <form class="killedForm" action="/_killed/{{data['code']}}" method="post">
                    <input class="killed button" type="submit" value="I was Killed">
                </form>
            </div>
        {% endif %}
    {% endif %}
    

</body>
</html>
