<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Assassins</title>
</head>
<body>

    <h2>{{data['title']}}</h2>
    <h6>({{data['code']}})</h6>
    <div class="settings">
        <h4>Settings:</h4>
        <p>{{data['settings']}}</p>
    </div>

    <div class = "players">
        <h4>Players:</h4>   
        {% for player in data['players'] %}
            <p>{{player}}</p>
            {% if data['admin'] and not data['started'] and player != data['host'] %}
                <form action="/_kick/{{data['code']}}/{{player}}" method="post">
                    <input type="submit" value="kick">
                </form>
            {% endif %}
        {% endfor %}
    </div>

    {% if not data['started'] %}
        <div class = "start">
            {% if data['admin'] %}
                <form action="/_start/{{data['code']}}" method="post">
                    <input type="submit" value="Start Game">
                </form>
                <form action="/_cancel/{{data['code']}}" method="post">
                    <input type="submit" value="Cancel Game">
                </form>
            {% else %}
                <p>Waiting for host to start game</p>
            {% endif %}
        </div>
    {% else %}
        {% if data['isAlive'] %}
            <div class = "word">
                <p>Your word is: {{data['word']}}</p>
                <p>Your target is: {{data['target']}}</p>
            </div>
            <form action="/_killed/{{data['code']}}" method="post">
                <input type="submit" value="I was killed">
            </form>
        {% endif %}
    {% endif %}


</body>
</html>

<!-- 
{% if data['admin'] %}
{% if not data['started'] %}
{% else %}
{% endif %}
{% else %}
{% if not data['started'] %}
{% else %}
{% endif %}
{% endif %} -->