<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Assassins - Home</title>
</head>
<body>
    <p>Hello, {{name}}</p>
    <form action="/_join/" method = "post">
        <p><input type = "text" name = "code" placeholder="Enter the game code" /></p>
        <p><input type = "submit" value = "Join" /></p>
    </form>
    <form action="/_create" method="POST">
        <p><input type = "text" name = "name" placeholder="Enter a game name" /></p>
        <p><input type = "text" name = "code" placeholder="Enter a game code" /></p>
        <p><input type = "submit" value = "Create" /></p>
    </form>

        <form action="/" >
            <input type="submit" value="Log Out">
        </form>
</body>
</html>