<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Say Pineapple - Home</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <button class="back button" onclick="window.location.href='{{ url_for( 'index')}}';">Log Out</button>



    <div class="grid1">
        <div class="error">
            {% if  error %}
            <p style="color: red;">Error: {{error}}</p>
            {% endif  %}
        </div>
        <form  class="welcome" action="/_rename" method="POST">
            <div class="hello">
                Hello, <input type="text" name="name" value="{{data['name']}}">  ({{data['user']}})
                <span class="tooltiptext">press enter to save</span>
            </div>
            <div class="status">
                <input type="text" name="status" placeholder="What are you feeling? Enter a status." value="{{data['status']}}">
                <span class="tooltiptext">press enter to save</span>
            </div>
            
            
            <input type="submit" hidden>
        </form> 

        <div class="stats">
            <h4>Stats:</h4>
            <p>You have {{data['stats']['kills']}} kills, {{data['stats']['killWins']}} kill wins, and {{data['stats']['survivalWins']}} survival wins over {{data['stats']['played']}} games.</p>
        </div>
    </div>


    <div class="grid2">
        <div class="active">
            <h4>Active Games:</h4>
            {% for game in data['activeGames'] %}
                <div class="button"  onclick="window.location.href='{{ url_for( 'game', code= game['code']) }}';">
                    <h4>{{game['name']}} ({{game['code']}}) by {{game['host']}}</h4>
                    {% if game['started'] %}
                    <p>{{game['numberOfPlayers']}} players, {{game['numberOfAlive']}} alive</p>
                    {% else %}
                    <p>{{game['numberOfPlayers']}} players, not started</p>
                    {% endif %}
                </div>
            {% endfor %} 
        </div>
    
        <div class="past">
            <h4>Past Games:</h4>
            {% for game in data['pastGames'] %}
                <div class="game">
                    <form action="/game/{{game['code']}}" >
                        <input type="submit" value="{{game}}">
                    </form>
                </div>
            {% endfor %} 
        </div>
    </div>


    
    <div class="footbar">
        <button class="join button" onclick="window.location.href='{{ url_for( 'join')}}';">Join a Game</button>
        <button class="create button" onclick="window.location.href='{{ url_for( 'create')}}';">Create a Game</button>
    </div>
</body>
</html>