<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Say Pineapple</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="grid">
        <div class="welcome">
        </div>
    
        <div class="error">
            {% if  error %}
                <p>Error: {{error}}</p>
            {% endif  %}
        </div>
    
        <div class="login">
            <form action="/_login" method = "post">
                <div class="grid2">
                <input type = "text" name = "user" placeholder="Enter your username" value="{{user}}"/>
                <input type="password" name="password" placeholder="Enter your password">
                <input type = "submit" class="loginButton button" value = "Log In" />
                </div>
            </form>
        </div>
    
        <div class="signup">
            <p>Not a user yet?</p>
            <button class="button" onclick="window.location.href='{{ url_for( 'signup')}}';">Create Account</button>
        </div>
    
        <div class="rules">
            <p>Don't know how to play?</p>
            <button class="button" onclick="window.location.href='{{ url_for( 'rules')}}';">Read the Rules</button>
        </div>
    </div>
</body>
</html>