<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Assassins</title>
</head>
<body>
    <h2>Welcome to Word assassins!</h2>
    <p>This is the index page</p>
    <form action="/_login" method = "post">
        <p><input type = "password" name = "key" placeholder="Enter your personal key" /></p>
        <p><input type = "submit" value = "Enter" /></p>
    </form>
    <form action="/signup">
        <p><input type="submit" value = "Create new profile"></p>
    </form>
</body>
</html>