<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Say Pineapple</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes/t'+theme+'.css') }}">
</head>
<body>
    <div class="welcome">
    </div>
    <div class="indexGrid">

    
        <div class="error">
            {% if  error %}
                <p>{{error}}</p>
            {% endif  %}
         </div>
    
        <form class="indexGrid2 login" action="/_login" method = "post">
            <input class="textbox" type = "text" name = "user" placeholder="Enter your username" value="{{user}}"/>
            <input class="textbox" type="password" name="password" placeholder="Enter your password">
            <input class="button" type = "submit" class="loginButton button" value = "Log In" />
        </form>
    
        <div class="signup">
            <p>Not a user yet?</p>
            <button class="button" onclick="window.location.href='{{ url_for( 'signup')}}';">Create Account</button>
        </div>
    
        <div class="rules">
            <p>Don't know how to play?</p>
            <button class="button" onclick="window.location.href='{{ url_for( 'rules')}}';">Read the Rules</button>
        </div>
    </div>
    <div class="footpad"></div>
</body>
</html>