<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Say Pineapple – Join</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/join.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes/t'+data['theme']+'.css') }}">
</head>
<body>
    <button class="back button" onclick="window.location.href='{{ url_for( 'home')}}';">Back</button>
    
    <div class="grid">
        <p class="info">Join an Existing Game</p>
        <form class="join" action="/_join/" method="POST">
            <div class="error">
                {% if  error %}
                    <p>{{error}}</p>
                {% endif  %}
            </div>
            <input class="textbox" type = "text" name = "code" placeholder="Enter the game code" />
            <input class="button" type = "submit" value = "Join" />
        </form>
    </div>
</body>
</html>