<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Say Pineapple – Join</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/join.css') }}">
</head>
<body>
    <div class="back">
        <form action="/home" >
            <input type="submit" value="Back">
        </form>
    </div>

    <div class="error">
        {% if  error %}
            <p style="color: red;">Error: {{error}}</p>
        {% endif  %}
    </div>

    <div class="container">
        <form action="/_join/" method = "post">
            <p><input type = "text" name = "code" placeholder="Enter the game code" /></p>
            <p><input type = "submit" value = "Join" /></p>
        </form>
    </div>
</body>
</html>