<!-- this page will be for looking at past games -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Say Pineapple – {{data['user']}}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pastGame.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes/'+data['settings']['theme']+'.css') }}">
</head>
<body>
    <button class="back button" onclick="window.location.href='{{url_for('home')}}';">Back</button>

    <div class="grid">
        <div class="title">
            {{data['title']}}
        </div>    

        <div class="code">
            ({{data['code']}})
        </div>

        <div class="error">
            {% if  error %}
            <p>Error: {{error}}</p>
            {% endif  %}
        </div>

        <div class="settings">
            <div class="normSettings">
                <div>Word Difficulty: {{data['settings']['difficulty']}}</div>
                <div>Word Pass-on: {{data['settings']['passon']}}</div>
            </div>
        </div>
    </div>
    
    <div class="winners">
        <div class="overMssg">
            This game is over.
        </div>
        <p>Last one alive: {{data['survivalWinner']['name']}} ({{data['survivalWinner']['code']}})</p>
        <p>Most kills:
        {% for killWinner in data['killWinners'] %}
            {{killWinner['name']}} ({{killWinner['code']}}) 
        {% endfor %}
        </p>
    </div>


    <div class = "killLog">
        <h4>Kill Log:</h4>   
        {% for entry in data['killLog'] %}
            <div class="log">
                {% if entry['method'] == "killed" %}
                    <p>{{entry['victim']['name']}} ({{entry['victim']['code']}}) was killed by {{entry['assassin']['name']}} ({{entry['assassin']['code']}}) with {{entry['word']}}.</p>
                {% else %}
                    <p>{{entry['victim']['name']}} ({{entry['victim']['code']}}) was purged for {{entry['assassin']['name']}} ({{entry['assassin']['code']}}) by host.</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>