<!-- this page will be for looking at past games -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Assassins – {{data['user']}}</title>
</head>
<body>
    <h2>{{data['title']}}</h2>
    <h6>({{data['code']}})</h6>
    <div class="settings">
        <h4>Settings:</h4>
        <p>{{data['settings']}}</p>
    </div>
    <div class="winners">
        <p>Last one alive: {{data['survivalWinner']}}</p>
        <p>Most Kills: {{data['killWinners']}}</p>
    </div>
    <div class = "killLog">
        <h4>Kill Log:</h4>   
        {% for entry in data['killLog'] %}
            <p>{{entry}}</p>
        {% endfor %}
    </div>

</body>
</html>