<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Say Pineapple – Rules</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes/t'+theme+'.css') }}">
    <meta name="description" content="Rules for Don't Say Pineapple (DSP for short) – A social game of secrecy, lying, and deception!">
</head>
<body>

    <button class="back button" onclick="window.location.href='{{url_for('back_rules')}}';">Back</button>

    <div class="welcome">
    </div>

    <div class="rulesPage">
         
        <h2>
            YOUR MISSION
        </h2>
        <p>
            Welcome to Don't Say Pineapple! Don't Say Pineapple, or DSP for short, is a game of secrecy, lying, and deception! Your mission is to use your wits to assassinate the other players and be the last one standing and have the most kills.
        </p>
        
        <h2>
            HOW TO PLAY
        </h2>
        <p>
            A game of DSP usually lasts a few days or sometimes even weeks. Although it's possible to play completely online, DSP is best if every player talks to every other player often. Families and friend groups are perfect! You need at least 2 players to play.
        </p>
        <p>
            When the game starts, you'll be assigned a word and another player as a target. Keep these secret! Your goal is to kill your target by tricking them into saying the secret word. You may use any means necessary - lying, deception, etc.
            Once you have assassinated your target, you must tell them what the word was, and they can report themselves killed in the game page, and you will be assigned a new target and a new word! Similarly, if you've been assassinated by someone, immediately report yourself dead in the game! 
        </p>
        <h3>
            WINNING
        </h3>
        <p>
            Every game has two titles to win: Survival Winner and Kill Winner. You become the Survival Winner if you are the last one alive. You become a Kill Winner if you have made the most kills. There can be more than one Kill Winner.
        </p>

        <h2>
            RULES OF ELIMINATION
        </h2>
        <p>
            Note: These rules are recommended - you can play with different rules, just make sure every player is clear on what is and isn't allowed!
        </p>
        <h3>
            WORD FORMS COUNT
        </h3>
        <p>
            This includes plurals, verb forms, or anything else. For example, if a target says "pineapples" and the word is "pineapple," they are dead. Similarly, if a target says "control", and the word is "controlling," they are dead.
        </p>
        <h3>
            THERE ARE NO ACCIDENTS
        </h3>
        <p>
            If a target says their word without "making" them - they are still dead, provided their assassin is present to hear them say it.
        </p>
        <h3>
            ASSASSINS MAY SAY THE WORD
        </h3>
        <p>
            If an assassin asks their target "How are you doing today" and the target responds "I'm doing fine" and the word is "doing," the target is dead. 
        </p>
        <h3>
            GETTING HELP IS ALLOWED
        </h3>
        <p>
            An assassin may enlist the help of other people, players or otherwise, to help make their target say the word, as long as the assassin is present when the target says the word.
        </p>
        <h3>
            LYING IS ALLOWED
        </h3>
        <p>
            Lying is not only allowed, but encouraged! You can lie about who your target is, you can lie about what your word is, whatever you need to do to get your target to lower their guard. 
        </p>

        <h2>
            HOW TO USE THIS WEBSITE
        </h2>
        <p>
            First you must create an account. This will let you access your active games at any time. Once you're logged into your account, you will see a list of all active games and a list of past games. Click on any game to see it. To join a game, get the game code from the host, click the 'join game' button and enter the code. To create a new game, click the 'create game' button. Once the game has started, you can see your word and target by pressing and holding on the mission slidebar. If you are killed, press the 'Report Yourself Killed' button. As a host, you have the ability to kick people from a game. 
        </p>
        <h3>
            STATS
        </h3>
        <p>
            On your home page you can see how many games you have finished, how many kills you have made, and how many wins of each type you have. If there is more than one Kill Winner in a game, the Kill Win point is split up between the Kill Winners.
        </p>
        <h3>
            STATUS
        </h3>
        <p>
            Your status is displayed below your name in every game. Write something fun! You can edit your status by clicking on it on the home page. You can also edit your name by clicking on it on the home page.
        </p>
        <h3>CAN'T SEE CHANGES?</h3>
        <p>
            To save computation power, your game page will only update as the page loads, so MAKE SURE TO REFRESH before any action.
        </p>
        <h2>
            QUESTIONS, COMMENTS, SUGGESTIONS
        </h2>
        <p>
            If you find a bug or a typo, have questions, comments, or suggestions, let us know!
            We appreciate any feedback. 
        </p>
        <h3>ARTWORK AND WORDBANK HELP</h3>
        <p>
            If you notice any words that are out of place or misspelled, let us know.
        </p>
        <p>
            The artwork on this website is basic, so any contributions would be greatly appreciated!
        </p>
        <h3>CONTACT INFO</h3>
        <p>
            Email us at 
            <a href="mailto:styopa@stanford.edu">styopa@stanford.edu</a>
        </p>
       <button class="button bottomback" onclick="window.location.href='{{url_for('back_rules')}}';">Go Back</button>
    </div>
    <div class="footpad"></div>
</body>
</html>