<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Say Pineapple – Rules</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">
</head>
<body>

    <div class="back">
        <form action="/" >
            <input type="submit" value="Back">
        </form>
    </div>

    <div class="rules">
         
        <h1>
            YOUR MISSION
        </h1>
        <p>
            Welcome to Don't Say Pineapple! Don't Say Pineapple is a game of secrecy, lying, deception, and most importantly - pineapples! Your mission is to use your wits to assassinate the other players and be the last one standing.
        </p>
        
        <h1>
            HOW TO PLAY
        </h1>
        <p>
            When the game starts, you'll be assigned a word and another player as a target. Keep these secret! Your goal is to kill your target by tricking them into saying the secret word. You may use any means necessary - lying, deception, etc.
            Once you have assassinated your target, you must tell them what the word was, and they can report themselves killed in the game page, and you will be assigned a new target! Similarly, if you've been assassinated by someone, immediately report yourself dead in the game! 
            And, as mentioned earlier, last one standing wins!
        </p>
        <h1>
            RULES OF ELIMINATION
        </h1>
        <p>
            Note: These rules are recommended - you can play with different rules, just make sure every player is clear on what is and isn't allowed!
        </p>
        <h2>
            WORD FORMS COUNT
        </h2>
        <p>
            This includes plurals, verb forms, or anything else. For example, if a target says "pineapples" and the word is "pineapple," they are dead. Similarly, if a target says "control", and the word is "controlling," they are dead.
        </p>
        <h2>
            THERE ARE NO ACCIDENTS
        </h2>
        <p>
            If a target says their word without "making" them - they are still dead, provided their assassin is present to here them say it.
        </p>
        <h2>
            ASSASSINS MAY SAY THE WORD
        </h2>
        <p>
            If an assassin asks their target "How are you doing today" and the target responds "I'm doing fine" and the word is "doing," the target is dead. 
        </p>
        <h2>
            GETTING HELP IS ALLOWED
        </h2>
        <p>
            An assassin may enlist the help of other people, players or otherwise, to help "make" their target say the word, as long as the assassin is present when the target says the word.
        </p>
        <h2>
            LYING IS ALLOWED
        </h2>
        <p>
            Lying is not only allowed, but encouraged! You can lie about who your target is, you can lie about what your word is, whatever you need to do to get your target to lower their guard. 
        </p>

        
    </div>
</body>
</html>