<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Say Pineapple – Rules</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>

    <div class="back">
        <form action="/" >
            <input type="submit" value="Back">
        </form>
    </div>

    <div class="rules">
        [TODO: add rules to dont say pineapple here]
    </div>
</body>
</html>