<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Say Pineapple – Sign Up</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>

    <div class="back">
        <form action="/" >
            <input type="submit" value="Back">
        </form>
    </div>

    <div class="error">
        {% if  error %}
            <p style="color: red;">Error: {{error}}</p>
        {% endif  %}
    </div>

    <div class="container">
        <form action="/_signup" method="POST">
            <p><input type = "text" name = "user" placeholder="Enter your username" value="{{user}}"/></p>
            <p><input type = "password" name = "password" placeholder="password" /></p>
            <p><input type="password" name = "passwordRepeat" placeholder="confirm your password"></p>
            <p><input type = "text" name = "name" placeholder="Enter your name" value="{{name}}"/></p>
            <p><input type = "submit" value = "Sign Up" /></p>
        </form>
    </div>
</body>
</html>