<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Assassins – Sign Up</title>
</head>
<body>
    <form action="/_signup" method="POST">
        <p><input type = "password" name = "key" placeholder="Enter your personal key" /></p>
        <p><input type = "password" name = "keyRepeat" placeholder="Confirm your personal key" /></p>
        <p><input type = "text" name = "name" placeholder="Enter your name" /></p>
        <p><input type = "submit" value = "Sign Up" /></p>
    </form>
</body>
</html>