<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Say Pineapple – Sign Up</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>
    <button class="back button" onclick="window.location.href='{{ url_for( 'index')}}';">Back</button>

    <div class="grid">
        <p class="info">Please Enter Your Info</p>
        <form class="signup" action="/_signup" method="POST">
            <div class="error">
                {% if  error %}
                    <p>{{error}}</p>
                {% endif  %}
            </div>
            <input class="textbox" type = "text" name = "user" placeholder="Enter your username" value="{{user}}"/>
            <input class="textbox" type = "password" name = "password" placeholder="password" />
            <input class="textbox" type="password" name = "passwordRepeat" placeholder="confirm your password">
            <input class="textbox" type = "text" name = "name" placeholder="Enter your name" value="{{name}}"/>
            <input class="button" type = "submit" value = "Sign Up" />
        </form>
    </div>
</body>
</html>